<h1>Update Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user , :url => {:action => 'update'} do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :profiel %>
    <%= f.text_field :profie %>

    <%= f.label :area, "地域" %>
    <%= f.text_field :area %>
      
      <%= f.submit "Update my Profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>